.blog-grid {
  margin-left: 60px;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px; /* Adjusted gap for better spacing */
}

.blog-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: border 0.5s ease, box-shadow 0.1s ease;
}

.blog-card:hover {
  border: 3px solid rgb(55, 72, 110);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.blog-card img {
  width: 100%;
  height: auto;
}

.blog-content {
  padding: 15px;
}

.blog-content h3 {
  margin: 0 0 10px;
}

.blog-content p {
  margin: 0 0 15px;
  color: #666;
}

.blog-meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  color: #999;
}

.blog-author {
  font-weight: bold;
}

.blog-time {
  font-style: italic;
}
.add-blog-button {
  font-size: 20px;
  background: white;
  border: 2px solid rgb(55, 72, 110);
  color: rgb(55, 72, 110);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.add-blog-button:hover {
  background: rgb(55, 72, 110);
  color: white;
}
