.blog-post-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    margin: 20px;
    width: 100%;
    max-width: 800px;
    height : 200px
  }
  
  .blog-post-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px #d86c82;
  }
  
  .blog-post-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .blog-post-content {
    padding: 15px;
  }
  
  .blog-post-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .blog-post-meta {
    color: #555;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .blog-post-author, .blog-post-time {
    color: #777;
  }
  .blog-post-actions {
    margin-top: 15px;
  }
  
  
  .btn-delete {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
  }
  .btn-update{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 590px;
    font-size: 14px;
    font-weight: bold;
  }
  .btn-update {
    background-color: #81e084;
    color: white;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .btn-update:hover {
    background-color: #6cc470;
    transform: scale(1.05);
  }
  
  .btn-delete {
    background-color: #f44336;
    color: white;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .btn-delete:hover {
    background-color: #e53935;
    transform: scale(1.05);
  }